@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Thanks for your time! This is a sample application by Gerry Branch using ASP.NET MVC, HTML 5, and a little Bootstrap.</h2>
            </hgroup>
            <p>
                Thanks for your time! This is a sample application by Gerry Branch using ASP.NET MVC, HTML 5, and a little Bootstrap.
            </p>
        </div>
    </section>
}
